@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #332a28;
    --foreground: #f7f7f7;

    --card: #332a28;
    --card-foreground: #f7f7f7;

    --popover: #332a28;
    --popover-foreground: #f7f7f7;

    --primary: #f7f7f7;
    --primary-foreground: #271a19;

    --secondary: #1e262e;
    --secondary-foreground: #f7f7f7;

    --muted: #1e262e;
    --muted-foreground: #1f3453;

    --accent: #1e262e;
    --accent-foreground: #f7f7f7;

    --destructive: #9b4221;
    --destructive-foreground: #f7f7f7;

    --border: #1e262e;
    --input: #1e262e;
    --ring: #271e22;
  }
}

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--foreground);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url('/bgImage.svg');
    }
}

@layer utilities {
  .flex_center {
    @apply flex justify-center items-center;
  }

  .flex_center_column {
    @apply flex flex-col justify-center items-center;
  }
}
